apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: letsencrypt-prod
  namespace: cert-manager  # Important: must be in cert-manager namespace
spec:
  acme:
    server: https://acme-v02.api.letsencrypt.org/directory
    email: nguyenhuyhieu2004abc@gmail.com
    privateKeySecretRef:
      name: letsencrypt-prod
    solvers:
    - http01:
        ingress:
          class: nginx